<app-pelicula-banner> </app-pelicula-banner>
<!--<app-grilla></app-grilla>-->




































<!--<h2 [class] = "clase" > Two way data binding </h2>-->
<!--<ul>-->
 <!--<li>clase <-> template[(ngMode)] </li>-->
<!--</ul>-->

<!--<p>Clase: {{clase}} </p>-->

<!--<input type = "text"-->
       <!--id ="calse"-->
       <!--name="clase"-->
       <!--[(ngModel)]="clase">-->

<!--<h2> One way data binding </h2>-->
<!--<ul>-->
  <!--<li>Clase al template -> [class] </li>-->
  <!--<li>Template a la clase -> [click] </li>-->
<!--</ul>-->


<!--<div hide = "true">-->
  <!--<input type="text" #textoImput>-->
  <!--<h1 [id] = "nombreClase"-->
    <!--[class] = "nombreClase" (click)="cambiarClaseDeTitulo()"> Hola amigos </h1>-->
  <!--<p>Nombre:{{nombre}} </p>-->
  <!--<p>Apellido:{{apellido}} </p>-->
  <!--<p>Edad:{{edad}} </p>-->
  <!--<p>Sueldo:{{sueldo | currency}} </p>-->
  <!--<p>Fecha Nacimiento:{{fechaMacimiento | date:'yyyy/MM/dd'}} </p>-->
  <!--<button (click)="cambiarClaseDeTitulo() "-->
          <!--(blur)="cambiarClaseDeTitulo()"> {{nombreBoton}} </button>-->
  <!--<button (blur)="aplicarClase(textoImput.value)"> Aplicar Clase </button>-->

<!--</div>-->

<!--<div>-->

<!--</div>-->

